body {
    font-family: 'Roboto', sans-serif;
    background: #85a5d4;
}

.box {
    width: 90%;
    max-width: 900px;
    height: auto;
    margin: 80px auto 0;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 .4em 10px rgba(0,0,0,.3);
}

.product {
    display: inline-block;
    width: 30%;
    margin: 20px 0 0;
    padding: 0;
    vertical-align: top;
}

.product img {
    width: 70px;
}

.product h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 6px;
    color: #5572d6;
}

.product p {
    font-size: 13px;
    font-weight: 400;
}

.item {
    margin: 20px 20px 0;
    padding: 20px 15px 5px;
    text-align: center;
    background: white;
}

.item:hover {
    cursor: pointer;
    background: #fff0f5;
}

.price {
    color: #5572d6;
}

.desc {
    margin-bottom: 20px;
    color: #c2b2a9;
}

.cost {
    font-size: 26px;
    font-weight: 700;
}

.bucks {
    font-size: 14px;
    vertical-align: super;
}

button {
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    margin-top: 10px;
    padding: 0 30px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background-color: #4169e1;
}

@media (max-width: 768px) {
    .box{
        max-width: 500px;
        padding: 15px 0 50px;
    }

    .product {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

    .item {
        display: block;
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
    }

    .desc {
        display: block;
        width: 60%;
        min-width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.4);
}

.modal .popup {
    max-width: 390px;
    margin-right: auto;
    margin-left: auto;
}

.modal .item {
    width: 23%;
    min-width: 350px;
    margin: 20px 20px 0;
    padding: 20px 15px 5px;
    text-align: center;
    background: white;
}

.modal .item:hover {
    cursor: default;
    background: #fff;
}

.modal .modal-h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 6px;
    color: #5572d6;
}

.modal img {
    width: 70px;
}

.close img {
    width: 15px;
}

.modal button {
    margin-bottom: 15px;
}

.close {
    font-size: 28px;
    font-weight: bold;
    float: right;
    color: white;
}

.close:hover,
.close:focus {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}